
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form id="createnewproduct">
    <label>Name</label>
    <input type="text" name="Name" />
    <br />
    <label>Description</label>
    <input type="text" name="Description" />
    <br /> 
    <label>Price</label>
    <input type="text" name="Price" />
    <br />


    <button id="savebtn" type="button">Save</button>
</form>

<script>
    $("#savebtn").click(function () {
        $.ajax({
            type: "POST",
            url: "/Product/Create",
            data: $("#createnewproduct").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    })
</script>